### Web Scraping Lab

Welcome!  In today's lab we're going to build a web scraper that's going to build a dataset from restaurant listings on a yelp page.  

You can find the web page here: https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1

The lab questions listed herein will naturally build from the material discussed in class.

#### Step 1:  Scrape the number of reviews for each restaurant

Using a similar methodology we used to find the title of the restaurant find the number of reviews for the 30 restaurants listed on this web page.

**Hint:** the `isdigit()` string method will be helpful to detect if a string contains a number.

In [38]:
# your code here
from bs4 import BeautifulSoup
import requests
url = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1'
req = requests.get(url)
yelp_scraper = BeautifulSoup(req.text)
num_reviews = yelp_scraper.find_all('span', {'class': 'lemon--span__373c0__3997G', 
                                        'class': 'text__373c0__2Kxyz',
                                        'class': 'reviewCount__373c0__2r4xT',
                                        'class': 'text-color--black-extra-light__373c0__2OyzO'})

In [39]:
num_reviews[0]

In [40]:
#convert everthing into a string
num_reviews = [str(review) for review in num_reviews]

In [41]:

num_reviews = [review.replace('</span>', '') for review in num_reviews]

In [42]:
num_reviews = [review.split('>')[-1] for review in num_reviews]

In [44]:
num_reviews

['277',
 '££',
 '',
 '1842',
 '££',
 '',
 '378',
 '££',
 '',
 '204',
 '££££',
 ', ',
 '',
 '270',
 '££',
 '',
 '468',
 '££',
 '',
 '119',
 '££',
 ', ',
 ', ',
 '',
 '202',
 '££',
 '',
 '239',
 '££',
 ', ',
 '',
 '108',
 '££',
 '',
 '183',
 '££',
 '',
 '701',
 '£££',
 ', ',
 ', ',
 '',
 '353',
 '££',
 ', ',
 '',
 '544',
 '££',
 '',
 '109',
 '££',
 ', ',
 '',
 '830',
 '£££',
 ', ',
 ', ',
 '',
 '271',
 '£££',
 '',
 '358',
 '££',
 ', ',
 '',
 '101',
 '££',
 '',
 '212',
 '££',
 ', ',
 '',
 '78',
 '££',
 '',
 '375',
 '££',
 '',
 '381',
 '££',
 '',
 '26',
 '££',
 '',
 '30',
 '££',
 ', ',
 '',
 '292',
 '££',
 ', ',
 '',
 '342',
 '£££',
 ', ',
 ', ',
 '',
 '194',
 '££',
 '',
 '482',
 '£££',
 ', ',
 ', ',
 '',
 '22',
 '£££',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1 of 8',
 '',
 '']

In [48]:
num_reviews = [int(review) for review in num_reviews if review.isdigit()]

In [49]:
num_reviews

[277,
 1842,
 378,
 204,
 270,
 468,
 119,
 202,
 239,
 108,
 183,
 701,
 353,
 544,
 109,
 830,
 271,
 358,
 101,
 212,
 78,
 375,
 381,
 26,
 30,
 292,
 342,
 194,
 482,
 22]

#### Step 2:  Find the price range for each restaurant

Let's create data for the price range of each restaurant as well, as denoted by the $ \unicode{x00A3} $ symbol listed on each website.

**Hint 1:** The information that you need for this was selected using the same criteria to find the number of reviews.

**Hint 2:** You type the $ \unicode{x00A3} $ symbol in python with the expression `\xA3`

In [ ]:
# your code here

#### Step 3:  Build a Dataframe For the Title, # of Ratings and Price Range of Each Restaurant

You will need to create a dictionary structured in the following way:

` {
    'Title': [list with the titles of each restaurant],
    'NumRatings': [list with the number of ratings of each restaurant],
    'Price Range': [list with the price range of each restaurant]
}`

In [ ]:
# your code here